<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Administrador</title>
  <link rel="stylesheet" href="../style/login.css">
</head>
<body>
  <div class="login-container">
    <!-- Seção de Imagem -->
    <div class="image-section">
      <img src="../../freepik__the-style-is-candid-image-photography-with-natural__71483.jpeg" alt="Administração" />
      <h1>Área Administrativa</h1>
      <p>Faça login para acessar o painel de controle e gerenciar a barbearia.</p>
    </div>

    <!-- Seção de Formulário -->
    <div class="form-section">
      <h2>Login do Administrador</h2>
      <form>
        <div class="input-group">
          <label for="admin-email">E-mail</label>
          <input type="email" id="admin-email" placeholder="admin@email.com" required />
        </div>
        <div class="input-group">
          <label for="admin-password">Senha</label>
          <input type="password" id="admin-password" placeholder="Senha" required />
        </div>
        <button type="submit" class="submit-btn">Acessar</button>
      </form>
      <p class="register-link">Esqueceu sua senha? <a href="recuperarSenhaAdmin.html">Recupere aqui</a></p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.2/dist/sweetalert2.all.min.js"></script>
  <script src="style/pages/script/loginAdmin.js"></script>
</body>
</html>
