<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmado</title>
    <link rel="stylesheet" href="style/emailConfirnamdo.css">
    
</head>
<body>
    <div class="confirmation-container">
        <h1>Email Confirmado!</h1>
        <p>Parabéns! Seu email foi confirmado com sucesso. Agora você pode continuar navegando pelo site.</p>
        <a href="/">Voltar para a página inicial</a>
    </div>

    <script src="style/pages/script/emailConfirmacao.js"></script>
</body>
</html>
