<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Barbearia</title>

  <link rel="stylesheet" href="style/login.css">

</head>
<body>

  <div class="login-container">
    <!-- Seção de Imagem -->
    <div class="image-section">
      <img src="../3888777_11894.jpg" alt="Barbearia" />
      <h1>Bem-vindo de volta!</h1>
      <p>Entre para acessar sua conta e agendar seus cortes com facilidade.</p>
    </div>

    <!-- Seção de Formulário -->
    <div class="form-section">
      <h2>Login</h2>
      <form>
        <div class="input-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" placeholder="seuemail@email.com" required />
        </div>
        <div class="input-group">
          <label for="password">Senha</label>
          <input type="password" id="password" placeholder="Sua senha" required />
        </div>
        <button type="submit" class="submit-btn">Entrar</button>
      </form>
      <p class="register-link">Ainda não tem uma conta? <a href="registro.html">Registre-se</a></p>
      <p class="register-link">Esqueceu sua senha? <a href="digiteEmail.html">Troque aqui</a></p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.15.2/dist/sweetalert2.all.min.js"></script>
  <script src="style/pages/script/login.js"></script>
</body>
</html>
